{% extends 'base.html' %}

{% block content %}

  <h2>What's the steal?</h2>

  <form method="post" id="createItem" enctype="multipart/form-data" data-subcategories-url="{% url 'ajax_load_subcategories' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button class="btn btn-light" type="submit">Save</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_category").change(function () {
      var url = $("#createItem").attr("data-subcategories-url");
      console.log(url);
      var categoryId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'category': categoryId
        },
        success: function (data) {
          console.log(data);
          console.log($("#id_subcategory").html(data));
          $("#id_subcategory").html(data)
        }
      });

    });
  </script>

{% endblock %}
