{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'pepper_app/style.css' %}">
<div class="gray">

    {% for item in items %}

       <div class="row mb-4">
           <div class="card-sm-6 mx-auto">
               <div class="card mx-4" style="width: 14rem;">
                   {% if item.img %}
                    <img class="card-img-top" src="{{ item.img.url }}" class="img-fluid">
                   {% endif %}
                   <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        {% if item.url %}
                            <p class="card-text">{{ item.retail_price }}</p>
                        {% endif %}
                        <p class="card-text">
                        <a href="{% url 'item-detail' item.id item.slugged_title %}", class="btn btn-primary">Details</a></p>
                   </div>
               </div>
           </div>

           <div class="card-sm-6 mx-auto">
               <div class="card mx-4" style="width: 14rem;">
                   {% if item.img %}
                    <img class="card-img-top" src="{{ item.img.url }}" class="img-fluid">
                   {% endif %}
                   <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        {% if item.url %}
                            <p class="card-text">{{ item.retail_price }}</p>
                        {% endif %}
                        <p class="card-text">
                        <a href="{% url 'item-detail' item.id item.slugged_title %}", class="btn btn-primary">Details</a></p>


                   </div>
               </div>
           </div>

           <div class="card-sm-6 mx-auto">
               <div class="card mx-4" style="width: 14rem;">
                   {% if item.img %}
                    <img class="card-img-top" src="{{ item.img.url }}" class="img-fluid">
                   {% endif %}
                   <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        {% if item.url %}
                            <p class="card-text">{{ item.retail_price }}</p>
                        {% endif %}
                        <p class="card-text">
                        <a href="{% url 'item-detail' item.id item.slugged_title %}", class="btn btn-primary">Details</a></p>


                   </div>
               </div>
           </div>
</div>
    {% endfor %}
       </div>

{% endblock %}