.exclude {
    background: silver;
    border-color: red;
}

.gray {
    background: silver;
}

@media (min-width: 768px) {
    .my-custom-container{
        width:600px;
    }
}

@media (min-width: 1050px) {
    .my-custom-container{
        width:720px;
    }
}

@media (min-width: 1200px) {
    .my-custom-container{
        width:900px;
    }
}